# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# macOS
.DS_Store

# uploads
app/uploads/*

# Docker
postgres_data/

# pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment variables
.env